.content-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.btn {
  padding-left: 35px;
  padding-right: 35px;
  border: 2px #ff0b37 solid;
  background-color: transparent;
  color: #ff0b37;
  border-radius: 10px;
  margin-left: 10px;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6f8;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.todo-title {
  margin: 0;
  font-size: 16px;
}

.edit-input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-group {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background-color: #ffa500;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.save-btn {
  background-color: #28a745;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.delete-btn {
  background-color: #ff4d4f;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}


.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6f8;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-title {
  margin: 0;
  font-size: 16px;
  transition: 0.3s;
}

.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

.btn-group {
  display: flex;
  gap: 8px;
}


.edit-btn {
  background-color: orange;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.save-btn {
  background-color: green;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}